<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="PDF.Core" version="4.6.1.2" targetFramework="net461" />
  <package id="sautinsoft.pdffocus" version="6.9.7.6" targetFramework="net461" />
  <package id="ScriptCs.Contracts" version="0.4.0" targetFramework="net461" />
  <package id="ScriptCS.SpeakR" version="0.2.1" targetFramework="net461" />
</packages>